<%= render "layouts/form", model: movie do |form| %>
<div class="flex flex-col border-2 p-2 m-2">
  <div class="mx-auto border-2 p-2 m-2 font-bold">
    <%= form.label :title %>
  </div>
  <div class="flex flex-col border-2 p-2 m-2">
    <%= form.text_area :title %>
  </div>
  <%= render "layouts/error", :component => @movie %>
  <%= render "layouts/button" do %>
  <%= form.submit %>
  <% end %>
</div>
<% end %>
