<div class="flex justify-evenly items-center w-3/4 h-3/4 border-2">
  <div class="flex flex-col gap-2 border-2 p-4">
    <h1 class="text-2xl border-2 p-2">Movies</h1>
    <%= render(@movies) || "There are no movies available." %>
  </div>
  <div class="flex flex-col gap-2">
    <%= render "layouts/link_button", :link => new_movie_path(@movie), :label =>
    "add movie"%>
    <%= render "layouts/button" do %>
    <%= form_with(url: movies_path, method: :delete) do |form| %>
    <%= form.submit "delete all" %>
    <% end %>
    <% end %>
  </div>
</div>
