<div class="flex flex-col border-2 p-4 m-2">
  <div class="flex flex-col border-2 p-4 m-2">
    <h1 class="p-4 border-2 mx-auto">
      <%= @movie.title %>
    </h1>
    <%= render "layouts/link_button", :link => edit_movie_path(@movie), :label =>
    "edit"%>
    <%= render "layouts/link_button", :link => movie_path(@movie), :label =>
    "delete", :data => {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
    } %>
  </div>
  <h2>Showings:</h2>
  <ul class="flex flex-col border-2 p-4 m-2">
    <li><%= render @movie.showings %></li>
    <li><%= render 'showings/form', showing: @showing%></li>
  </ul>
</div>
