<div id="<%= dom_id event %>">
    <%= render 'layouts/messages' %>
    Event: <%= event.id %> Venue: <%= event.venue_id %>
    <div>
        <%= render event.grid %>
    </div>
    <%= turbo_frame_tag 'new_message' %>

</div>
