<%= render(ContentComponent.new(title: "add events")) do %>            
    <%= form_with model: [ @company, @company.events.build ],
    class:"flex flex-col" do |form| %>

        <% if @company.errors.any? %>
            <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
                <h2><%= pluralize(@company.errors.count, "error") %> prohibited this event from being saved:</h2>

                <ul>
                    <% @company.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        Venue: <%= form.collection_select :venue_id, Venue.order(:id), :id, :id %>
        <%= form.fields_for :grid do |subform| %>
            <%= subform.label :rows, "rows" %>
            <%= subform.number_field :rows, :required => true %>
            <%= subform.label :cols, "cols" %>
            <%= subform.number_field :cols, :required => true %>
        <% end %>
        <%= form.submit class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <% end %>
<% end %>
