<%= render(PageComponent.new()) do  %>
    <%= render(ContentComponent.new(title: "admin")) do %>
        <%= render(PanelsComponent.new()) do %>
            <%= render(PanelComponent.new(title: "events")) do %>
                <ul>
                    <% @events.each do |event| %>
                        <li>
                            <%= link_to event.id, event %>
                        </li>
                    <% end %>
                </ul>
            <% end %>
        <% end %>
    <% end %>
<% end %>
