<div class="mx-auto md:w-2/3 w-full flex">
    <div class="mx-auto">
        id: <%= @company.id %>
        <%= render @company.events %>
        <h2>Add a event:</h2>
        <%= form_with model: [ @company, @company.events.build ] do |form| %>
            Venue: <%= form.collection_select :venue_id, Venue.order(:id), :id, :id %>
            <%= form.submit %>
        <% end %>
    </div>
</div>
